name: universal_mic_stream_platform_interface
description: A common platform interface for the universal_mic_stream plugin.
version: 0.1.0
author: Neohelden GmbH
homepage: https://neohelden.com

dependencies:
  flutter:
    sdk: flutter

  plugin_platform_interface: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

environment:
  sdk: '>=2.12.0 <3.0.0'